* {
  margin: 0;
}

body {
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
}

h1 {
  margin: 80px auto;
  font-size: 100px;
  font-weight: bolder;
  line-height: 72px;
}

.cursive {
  font-family: "Caveat", cursive;
  font-size: 120px;
  font-weight: 400;
}

input {
  padding: 10px;
  font-family: "IBM Plex Mono", monospace;
  background: #000000;
  border: none;
  vertical-align: middle;
}
.search,
.result,
.test-box {
  margin: 0 auto 20px;
  width: 800px;
}

#topic-input {
  width: 650px;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#topic-input::placeholder {
  color: #ffffff;
}

#search-button {
  width: 120px;
  color: #bbff00;
  font-size: 16px;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#search-button:hover {
  cursor: pointer;
}

.result {
  border: 1px solid #000000;
  border-radius: 30px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  font-size: 12px;
  background-color: #000000;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #bbff00;
}
